@import '../../assets/styles/variables.scss';

.shop-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__page {
    flex-grow: 1;
    width: 100%;
    margin: 0 auto;
    padding: 10px 30px;

    @media (max-width: ($TABLET_SHORT_WIDTH - 1px)) {
      padding: 10px 10px;
    }

    & a {
      color: $ORANGE;
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
}