.shop-layout {
  max-width: 1260px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__page {
    flex-grow: 1;
    padding: 30px 10px;

    @media (max-width: 676px) {
      padding: 20px 5px;
    }
  }
}