.arrow-next,
.arrow-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.arrow-next {
  right: -30px;
}

.arrow-prev {
  left: -30px;
}

.carousel {
  width: calc(100% - 60px);
  margin: 0 auto;

  // &__item {//   display: flex;
//   justify-content: space-around;
//   align-items: center;
// }
}