$MAIN_COLOR: #261134;
$MAIN_GRAY: #817382;
$ORANGE: #FF763C;
$ORANGE_HOVER: #f37038;
$ROSE: #FFE4D9;
$ROSE_HOVER: #ffded1;


$SHOP_LAYOUT_MAX_WIDTH: 1280px;
$TABLET_LONG_WIDTH: 1024px;
$TABLET_SHORT_WIDTH: 768px;
$MOBILE_LARGE_WIDTH: 425px;
$MOBILE_XSMALL_WIDTH: 320px;